body {
  background-color: #e9fcfb;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(90deg, #e9fcfb 1px, transparent 1%) center, linear-gradient(#e9fcfb 1px, transparent 1%) center, #b68e82;
  background-size: 2px 2px;
}

.app_view {
  width: 100%;
}

.app_call_line_idle {
  width: 100%;
  background-image: linear-gradient(#5C6B73, #424d53);
  border-radius: 10px;
  height: 80px;
  color: #e7f3f5;
  letter-spacing: 1.5px;
  vertical-align: middle;
  display: inline-flex;
  height: 80px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.app_call_line_ring {
  width: 100%;
  background-image: linear-gradient(#D999B9, #b37e98);
  border-radius: 10px;
  height: 80px;
  color: #e7f3f5;
  letter-spacing: 1.5px;
  vertical-align: middle;
  display: inline-flex;
  width: 100%;
  height: 80px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.app_call_line_inbound {
  width: 100%;
  background-image: linear-gradient(#91C499, #6b9171);
  border-radius: 10px;
  height: 80px;
  color: #e7f3f5;
  letter-spacing: 1.5px;
  vertical-align: middle;
  display: inline-flex;
  width: 100%;
  height: 80px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.app_call_line_outbound {
  background-image: linear-gradient(#5882c0, #466799);
  border-radius: 10px;
  color: #e7f3f5;
  letter-spacing: 1.5px;
  vertical-align: middle;
  display: inline-flex;
  width: 100%;
  height: 80px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.app_call_info {
  padding-left: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.app_call_info_text_line {
  padding-left: 15px;
  padding-top: 35px;
  margin-left: 15px;
  border-left: #d7e2e2 1px solid;
  width: 12%;
  text-align: center;
}

.app_call_info_text_time {
  padding-left: 15px;
  padding-top: 25px;
  margin-left: 15px;
  border-left: #d7e2e2 1px solid;
  width: 34%;
  text-align: center;
}

.app_call_info_text_callerid_number {
  padding-left: 15px;
  padding-top: 35px;
  margin-left: 15px;
  border-left: #d7e2e2 1px solid;
  width: 45%;
}

.app_call_info_text_callerid_name {
  padding-left: 15px;
  padding-top: 35px;
  border-left: #d7e2e2 1px solid;
  border-right: #d7e2e2 1px solid;
  width: 55%;
}

/* Firefox old*/
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* IE */
@-ms-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Opera and prob css3 final iteration */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.blink_image {
  -moz-animation: blink normal 1s infinite ease-in-out;
  /* Firefox */
  -webkit-animation: blink normal 1s infinite ease-in-out;
  /* Webkit */
  -ms-animation: blink normal 1s infinite ease-in-out;
  /* IE */
  animation: blink normal 1s infinite ease-in-out;
  /* Opera and prob css3 final iteration */
}

.call_log_view {
  width: 100%;
}

.call_log_entries {
  width: 100%;
  height: 330px;
  display: block;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-base-color: #424d53;
}

.call_log_row_header {
  width: 100%;
  background-image: linear-gradient(#5C6B73, #424d53);
  color: #e7f3f5;
  letter-spacing: 1.5px;
  vertical-align: middle;
  height: 55px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
}

.call_log_row_inbound {
  background-image: linear-gradient(#a2ecbb, #75a785);
  color: #313435;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}

.call_log_row_outbound {
  background-image: linear-gradient(#92cce9, #5f8497);
  color: #313435;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}

.call_log_row_detailed {
  background-image: linear-gradient(#d8e0e4, #8e9396);
  color: #313435;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}

.call_log_row_line {
  width: 34px;
  letter-spacing: 1.5px;
  vertical-align: middle;
  height: 55px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.call_log_row_io {
  width: 30px;
  letter-spacing: 1.5px;
  vertical-align: middle;
  height: 55px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.call_log_row_se {
  width: 36px;
  letter-spacing: 1.5px;
  vertical-align: middle;
  height: 55px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.call_log_row_dur {
  width: 50px;
  letter-spacing: 1.5px;
  vertical-align: middle;
  height: 55px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.call_log_row_cs {
  width: 38px;
  letter-spacing: 1.5px;
  vertical-align: middle;
  height: 55px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.call_log_row_rings {
  width: 30px;
  letter-spacing: 1.5px;
  vertical-align: middle;
  height: 55px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.call_log_row_date {
  width: 85px;
  letter-spacing: 1.5px;
  vertical-align: middle;
  height: 55px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.call_log_row_time {
  width: 102px;
  letter-spacing: 1.5px;
  vertical-align: middle;
  height: 55px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.call_log_row_number {
  width: 147px;
  letter-spacing: 1.5px;
  vertical-align: middle;
  height: 55px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.call_log_row_name {
  width: 160px;
  letter-spacing: 1.5px;
  vertical-align: middle;
  height: 55px;
  margin-top: 5px;
  margin-bottom: 5px;
}

table::-webkit-scrollbar {
  width: 12px;
}

table::-webkit-scrollbar-track {
  background: #5C6B73;
}

table::-webkit-scrollbar-thumb {
  background-color: #c5d2da;
  border-radius: 20px;
  border: 3px solid #454e53;
}

.add_link_view {
  width: 100%;
}

.add_link_row {
  width: 96%;
  background-image: linear-gradient(#5C6B73, #424d53);
  border-radius: 10px;
  height: 80px;
  color: #e7f3f5;
  letter-spacing: 1.5px;
  vertical-align: middle;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
}

.add_link_row td {
  padding-left: 4px;
}

.add_link_btn {
  width: 80px;
  background-image: linear-gradient(#d1e8f5, #c0d4df);
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  float: right;
}

.client_info_row {
  width: 97%;
  background-image: linear-gradient(#5C6B73, #424d53);
  border-radius: 10px;
  height: 90px;
  color: #e7f3f5;
  letter-spacing: 1.5px;
  vertical-align: middle;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.client_info_row_thin {
  width: 97%;
  background-image: linear-gradient(#5C6B73, #424d53);
  border-radius: 10px;
  height: 40px;
  color: #e7f3f5;
  letter-spacing: 1.5px;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 20px;
  text-align: center;
}

.client_info_row_header {
  width: 97%;
  background-image: linear-gradient(#5C6B73, #424d53);
  border-radius: 10px;
  height: 80px;
  color: #e7f3f5;
  letter-spacing: 1.5px;
  vertical-align: middle;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
}

.client_info_lookup_row {
  width: 90%;
  background-image: linear-gradient(#aac4d3, #889ba7);
  border-radius: 10px;
  height: 30px;
  color: #e7f3f5;
  letter-spacing: 1.5px;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.client_lookup_entries {
  width: 100%;
  height: 246px;
  display: block;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-base-color: #424d53;
}

.client_info_lookup_unlink_btn {
  width: 80px;
  height: 30px;
  background-image: linear-gradient(#d1e8f5, #c0d4df);
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  float: right;
}

.client_info_fields {
  vertical-align: top;
}

.client_info_field {
  margin-top: 8px;
  margin-bottom: 14px;
}

.client_info_window_header {
  width: 99.3%;
  background-color: white;
  padding-left: 5px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 3px;
  margin: 0px;
  height: 35px;
  -webkit-app-region: drag;
}

.client_close_btn {
  background-color: #d7e2e2;
  color: #313435;
  -webkit-app-region: no-drag;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
