// Colors
$bg-color: #e9fcfb;
$dot-color: rgb(182, 142, 130);

// Dimensions
$dot-size: 1px;
$dot-space: 2px;

body
{
    background-color: #e9fcfb;
    font-family: Arial, Helvetica, sans-serif;

    background:
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
        $dot-color;
        
    background-size: $dot-space $dot-space;
    
}

.app_view
{
    width: 100%;
}

.app_call_line_idle
{
    width: 100%;
    background-image: linear-gradient(#5C6B73, rgb(66, 77, 83));
    border-radius: 10px;
    height: 80px;
    color: rgb(231, 243, 245);
    letter-spacing: 1.5px;
    vertical-align: middle;
    display:inline-flex;
    height: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.app_call_line_ring
{
    width: 100%;
    background-image: linear-gradient(#D999B9, rgb(179, 126, 152));
    border-radius: 10px;
    height: 80px;
    color: rgb(231, 243, 245);
    letter-spacing: 1.5px;
    vertical-align: middle;
    display:inline-flex;
    width: 100%;
    height: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.app_call_line_inbound
{
    width: 100%;
    background-image: linear-gradient(#91C499, rgb(107, 145, 113));
    border-radius: 10px;
    height: 80px;
    color: rgb(231, 243, 245);
    letter-spacing: 1.5px;
    vertical-align: middle;
    display:inline-flex;
    width: 100%;
    height: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.app_call_line_outbound
{
    background-image: linear-gradient(rgb(88, 130, 192), rgb(70, 103, 153));
    border-radius: 10px;
    color: rgb(231, 243, 245);
    letter-spacing: 1.5px;
    vertical-align: middle;
    display:inline-flex;
    width: 100%;
    height: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.app_call_info
{
    padding-left: 15px;
    padding-top:30px;
    padding-bottom: 30px;
}

.app_call_info_text_line
{
    padding-left: 15px;
    padding-top: 35px;
    margin-left: 15px;
    border-left: rgb(215, 226, 226) 1px solid;
    width: 12%;
    text-align: center;
}

.app_call_info_text_time
{
    padding-left: 15px;
    padding-top: 25px;
    margin-left: 15px;
    border-left: rgb(215, 226, 226) 1px solid;
    width: 34%;
    text-align: center;
}

.app_call_info_text_callerid_number
{
    padding-left: 15px;
    padding-top: 35px;
    margin-left: 15px;
    border-left: rgb(215, 226, 226) 1px solid;
    width: 45%;
}

.app_call_info_text_callerid_name
{
    padding-left: 15px;
    padding-top: 35px;
    border-left: rgb(215, 226, 226) 1px solid;
    border-right: rgb(215, 226, 226) 1px solid;
    width: 55%;
}

// ANIMATIONS //--------------------------------------------------
/* Firefox old*/
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
.blink_image {
    -moz-animation: blink normal 1s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 1s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 1s infinite ease-in-out; /* IE */
    animation: blink normal 1s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

// ---------------------------------------------------
// Call Log
// ---------------------------------------------------
.call_log_view
{
    width: 100%;
}

.call_log_entries
{
    width: 100%;
    height: 330px;
    display: block;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-base-color: rgb(66, 77, 83);
}

.call_log_row_header
{
    width: 100%;
    background-image: linear-gradient(#5C6B73, rgb(66, 77, 83));
    color: rgb(231, 243, 245);
    letter-spacing: 1.5px;
    vertical-align: middle;
    height: 55px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
}

.call_log_row_inbound
{
    background-image: linear-gradient(rgb(162, 236, 187), rgb(117, 167, 133));
    color: rgb(49, 52, 53);
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

.call_log_row_outbound
{
    background-image: linear-gradient(rgb(146, 204, 233), rgb(95, 132, 151));
    color: rgb(49, 52, 53);
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

.call_log_row_detailed
{
    background-image: linear-gradient(rgb(216, 224, 228), rgb(142, 147, 150));
    color: rgb(49, 52, 53);
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

.call_log_row_line
{
    width: 34px;
    letter-spacing: 1.5px;
    vertical-align: middle;
    height: 55px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.call_log_row_io
{
    width: 30px;
    letter-spacing: 1.5px;
    vertical-align: middle;
    height: 55px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.call_log_row_se
{
    width: 36px;
    letter-spacing: 1.5px;
    vertical-align: middle;
    height: 55px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.call_log_row_dur
{
    width: 50px;
    letter-spacing: 1.5px;
    vertical-align: middle;
    height: 55px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.call_log_row_cs
{
    width: 38px;
    letter-spacing: 1.5px;
    vertical-align: middle;
    height: 55px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.call_log_row_rings
{
    width: 30px;
    letter-spacing: 1.5px;
    vertical-align: middle;
    height: 55px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.call_log_row_date
{
    width: 85px;
    letter-spacing: 1.5px;
    vertical-align: middle;
    height: 55px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.call_log_row_time
{
    width: 102px;
    letter-spacing: 1.5px;
    vertical-align: middle;
    height: 55px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.call_log_row_number
{
    width: 147px;
    letter-spacing: 1.5px;
    vertical-align: middle;
    height: 55px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.call_log_row_name
{
    width: 160px;
    letter-spacing: 1.5px;
    vertical-align: middle;
    height: 55px;
    margin-top: 5px;
    margin-bottom: 5px;
}

table::-webkit-scrollbar 
{
    width: 12px;
}

table::-webkit-scrollbar-track 
{
    background: #5C6B73;
}

table::-webkit-scrollbar-thumb 
{
    background-color: rgb(197, 210, 218);
    border-radius: 20px;
    border: 3px solid rgb(69, 78, 83);
}

.add_link_view
{
    width: 100%;
}

.add_link_row
{
    width: 96%;
    background-image: linear-gradient(#5C6B73, rgb(66, 77, 83));
    border-radius: 10px;
    height: 80px;
    color: rgb(231, 243, 245);
    letter-spacing: 1.5px;
    vertical-align: middle;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
}

.add_link_row td
{
    padding-left: 4px;
}

.add_link_btn
{
    width: 80px;
    background-image: linear-gradient(rgb(209, 232, 245), rgb(192, 212, 223));
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    float: right;
}

.client_info_row
{
    width: 97%;
    background-image: linear-gradient(#5C6B73, rgb(66, 77, 83));
    border-radius: 10px;
    height: 90px;
    color: rgb(231, 243, 245);
    letter-spacing: 1.5px;
    vertical-align: middle;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.client_info_row_thin
{
    width: 97%;
    background-image: linear-gradient(#5C6B73, rgb(66, 77, 83));
    border-radius: 10px;
    height: 40px;
    color: rgb(231, 243, 245);
    letter-spacing: 1.5px;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 20px;
    text-align: center;
}

.client_info_row_header
{
    width: 97%;
    background-image: linear-gradient(#5C6B73, rgb(66, 77, 83));
    border-radius: 10px;
    height: 80px;
    color: rgb(231, 243, 245);
    letter-spacing: 1.5px;
    vertical-align: middle;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
}

.client_info_lookup_row
{
    width: 90%;
    background-image: linear-gradient(rgb(170, 196, 211), rgb(136, 155, 167));
    border-radius: 10px;
    height: 30px;
    color: rgb(231, 243, 245);
    letter-spacing: 1.5px;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.client_lookup_entries
{
    width: 100%;
    height: 246px;
    display: block;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-base-color: rgb(66, 77, 83);
}

.client_info_lookup_unlink_btn
{
    width: 80px;
    height: 30px;
    background-image: linear-gradient(rgb(209, 232, 245), rgb(192, 212, 223));
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    float: right;
}

.client_info_fields
{
    vertical-align: top;
}

.client_info_field{
    margin-top: 8px;
    margin-bottom: 14px;
}

.client_info_window_header
{
    width: 99.3%;
    background-color: white;
    padding-left: 5px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 3px;
    margin: 0px;
    height: 35px;
    -webkit-app-region: drag;
}

.client_close_btn
{
    background-color: rgb(215, 226, 226);
    color: rgb(49, 52, 53);
    -webkit-app-region: no-drag;
    cursor: pointer;
}